
BoolStart.0001.ma

chair.ma

door.ma

goldfish.zpr

hammer.ma

tools.ma

tools.mb

workspace.mel

fishbowl.mtl

fishdecor.mtl

fishdecor.obj

fishfish.obj

fishfish.zpr

fishprops.mtl

lamp/.mayaSwatches/lamptexture_lampshadebase_BaseColor.png_hcm.swatch

lamp/.mayaSwatches/lamptexture_lampshadebase_Metallic.png_hcm.swatch

lamp/.mayaSwatches/lamptexture_lampshadebase_Normal.png_hcm.swatch

lamp/.mayaSwatches/lamptexture_lampshadebase_Roughness.png_hcm.swatch

lamp/.mayaSwatches/lamptexture_lightbulb_BaseColor.png_hcm.swatch

lamp/.mayaSwatches/lamptexture_lightbulb_Metallic.png_hcm.swatch

lamp/.mayaSwatches/lamptexture_lightbulb_Normal.png_hcm.swatch

lamp/.mayaSwatches/lamptexture_lightbulb_Roughness.png_hcm.swatch

lamp/.mayaSwatches/lamptexture_tube_BaseColor.png_hcm.swatch

lamp/.mayaSwatches/lamptexture_tube_Metallic.png_hcm.swatch

lamp/.mayaSwatches/lamptexture_tube_Roughness.png_hcm.swatch

lamp/lamptexture_lampshadebase_BaseColor_sRGB_ACEScg.png.tx

lamp/lamptexture_lampshadebase_BaseColor.png

lamp/lamptexture_lampshadebase_Height.png

lamp/lamptexture_lampshadebase_Metallic_Raw_ACEScg.png.tx

lamp/lamptexture_lampshadebase_Metallic.png

lamp/lamptexture_lampshadebase_Normal_Raw_ACEScg.png.tx

lamp/lamptexture_lampshadebase_Normal.png

lamp/lamptexture_lampshadebase_Roughness_Raw_ACEScg.png.tx

lamp/lamptexture_lampshadebase_Roughness.png

lamp/lamptexture_lightbulb_BaseColor_sRGB_ACEScg.png.tx

lamp/lamptexture_lightbulb_BaseColor.png

lamp/lamptexture_lightbulb_Height.png

lamp/lamptexture_lightbulb_Metallic_Raw_ACEScg.png.tx

lamp/lamptexture_lightbulb_Metallic.png

lamp/lamptexture_lightbulb_Normal_Raw_ACEScg.png.tx

lamp/lamptexture_lightbulb_Normal.png

lamp/lamptexture_lightbulb_Roughness_Raw_ACEScg.png.tx

lamp/lamptexture_lightbulb_Roughness.png

lamp/lamptexture_tube_BaseColor_sRGB_ACEScg.png.tx

lamp/lamptexture_tube_BaseColor.png

lamp/lamptexture_tube_Height.png

lamp/lamptexture_tube_Metallic_Raw_ACEScg.png.tx

lamp/lamptexture_tube_Metallic.png

lamp/lamptexture_tube_Normal.png

lamp/lamptexture_tube_Roughness_Raw_ACEScg.png.tx

lamp/lamptexture_tube_Roughness.png

sandcastle.mtl

sandcastle.obj

Starship_UV.mb

Starship.mtl

Starship.obj

cactus/.mayaSwatches/cactusuv_cactus_BaseColor.png_hcm.swatch

cactus/.mayaSwatches/cactusuv_cactus_Metallic.png_hcm.swatch

cactus/.mayaSwatches/cactusuv_cactus_Normal.png_hcm.swatch

cactus/.mayaSwatches/cactusuv_cactus_Roughness.png_hcm.swatch

cactus/.mayaSwatches/cactusuv_vase_BaseColor.png_hcm.swatch

cactus/.mayaSwatches/cactusuv_vase_Metallic.png_hcm.swatch

cactus/.mayaSwatches/cactusuv_vase_Normal.png_hcm.swatch

cactus/.mayaSwatches/cactusuv_vase_Roughness.png_hcm.swatch

cactus/cactusuv_cactus_BaseColor_sRGB_ACEScg.png.tx

cactus/cactusuv_cactus_BaseColor.png

cactus/cactusuv_cactus_Height.png

cactus/cactusuv_cactus_Metallic_Raw_ACEScg.png.tx

cactus/cactusuv_cactus_Metallic.png

cactus/cactusuv_cactus_Normal_Raw_ACEScg.png.tx

cactus/cactusuv_cactus_Normal.png

cactus/cactusuv_cactus_Roughness_Raw_ACEScg.png.tx

cactus/cactusuv_cactus_Roughness.png

cactus/cactusuv_vase_BaseColor_sRGB_ACEScg.png.tx

cactus/cactusuv_vase_BaseColor.png

cactus/cactusuv_vase_Height.png

cactus/cactusuv_vase_Metallic_Raw_ACEScg.png.tx

cactus/cactusuv_vase_Metallic.png

cactus/cactusuv_vase_Normal_Raw_ACEScg.png.tx

cactus/cactusuv_vase_Normal.png

cactus/cactusuv_vase_Roughness_Raw_ACEScg.png.tx

cactus/cactusuv_vase_Roughness.png

cactuslit.mtl

cactuslit.obj

cactusuv.mtl

cactusuv.obj

chair.mtl

chair.obj

hammer.mtl

hammer.obj

hammer/.mayaSwatches/hammer_hammerhandle_BaseColor.png_hcm.swatch

hammer/.mayaSwatches/hammer_hammerhandle_Metallic.png_hcm.swatch

hammer/.mayaSwatches/hammer_hammerhandle_Normal.png_hcm.swatch

hammer/.mayaSwatches/hammer_hammerhandle_Roughness.png_hcm.swatch

hammer/.mayaSwatches/hammer_hammerstick_BaseColor.png_hcm.swatch

hammer/.mayaSwatches/hammer_hammerstick_Metallic.png_hcm.swatch

hammer/.mayaSwatches/hammer_hammerstick_Normal.png_hcm.swatch

hammer/.mayaSwatches/hammer_hammerstick_Roughness.png_hcm.swatch

hammer/.mayaSwatches/hammer_hammertop_BaseColor.png_hcm.swatch

hammer/.mayaSwatches/hammer_hammertop_Metallic.png_hcm.swatch

hammer/.mayaSwatches/hammer_hammertop_Normal.png_hcm.swatch

hammer/.mayaSwatches/hammer_hammertop_Roughness.png_hcm.swatch

hammer/hammer_hammerhandle_BaseColor_sRGB_ACEScg.png.tx

hammer/hammer_hammerhandle_BaseColor.png

hammer/hammer_hammerhandle_Height.png

hammer/hammer_hammerhandle_Metallic_Raw_ACEScg.png.tx

hammer/hammer_hammerhandle_Metallic.png

hammer/hammer_hammerhandle_Normal_Raw_ACEScg.png.tx

hammer/hammer_hammerhandle_Normal.png

hammer/hammer_hammerhandle_Roughness_Raw_ACEScg.png.tx

hammer/hammer_hammerhandle_Roughness.png

hammer/hammer_hammerstick_BaseColor_sRGB_ACEScg.png.tx

hammer/hammer_hammerstick_BaseColor.png

hammer/hammer_hammerstick_Height.png

hammer/hammer_hammerstick_Metallic_Raw_ACEScg.png.tx

hammer/hammer_hammerstick_Metallic.png

hammer/hammer_hammerstick_Normal_Raw_ACEScg.png.tx

hammer/hammer_hammerstick_Normal.png

hammer/hammer_hammerstick_Roughness_Raw_ACEScg.png.tx

hammer/hammer_hammerstick_Roughness.png

hammer/hammer_hammertop_BaseColor_sRGB_ACEScg.png.tx

hammer/hammer_hammertop_BaseColor.png

hammer/hammer_hammertop_Height.png

hammer/hammer_hammertop_Metallic_Raw_ACEScg.png.tx

hammer/hammer_hammertop_Metallic.png

hammer/hammer_hammertop_Normal_Raw_ACEScg.png.tx

hammer/hammer_hammertop_Normal.png

hammer/hammer_hammertop_Roughness_Raw_ACEScg.png.tx

hammer/hammer_hammertop_Roughness.png

fish/eyes_Base_color.png

fish/eyes_Height.png

fish/eyes_Metallic.png

fish/eyes_Normal_DirectX.png

fish/eyes_Normal.png

fish/eyes_Roughness.png

fish/fish_Base_color.png

fish/fish_Height.png

fish/fish_Metallic.png

fish/fish_Normal_DirectX.png

fish/fish_Normal.png

fish/fish_Roughness.png

fish/fishbowl_Base_color.png

fish/fishbowl_Height.png

fish/fishbowl_Metallic.png

fish/fishbowl_Normal_DirectX.png

fish/fishbowl_Normal.png

fish/fishbowl_Opacity.png

fish/fishbowl_Roughness.png

fish/sandcastle_Base_color.png

fish/sandcastle_Height.png

fish/sandcastle_Metallic.png

fish/sandcastle_Normal_DirectX.png

fish/sandcastle_Normal.png

fish/sandcastle_Roughness.png

fish2/fishprops_eyes_BaseColor.png

fish2/fishprops_eyes_Height.png

fish2/fishprops_eyes_Metallic.png

fish2/fishprops_eyes_Normal.png

fish2/fishprops_eyes_Roughness.png

fish2/fishprops_fish_BaseColor.png

fish2/fishprops_fish_Height.png

fish2/fishprops_fish_Metallic.png

fish2/fishprops_fish_Normal.png

fish2/fishprops_fish_Roughness.png

fish2/fishprops_fishbowl_BaseColor.png

fish2/fishprops_fishbowl_Height.png

fish2/fishprops_fishbowl_Metallic.png

fish2/fishprops_fishbowl_Normal.png

fish2/fishprops_fishbowl_Roughness.png

fish2/fishprops_sandcastle_BaseColor.png

fish2/fishprops_sandcastle_Height.png

fish2/fishprops_sandcastle_Metallic.png

fish2/fishprops_sandcastle_Normal.png

fish2/fishprops_sandcastle_Roughness.png

images/v001/ao/ao.0001.exr

images/v001/ao/ao.0002.exr

images/v001/ao/ao.0003.exr

images/v001/ao/ao.0004.exr

images/v001/ao/ao.0005.exr

images/v001/ao/ao.0006.exr

images/v001/ao/ao.0007.exr

images/v001/ao/ao.0008.exr

images/v001/ao/ao.0009.exr

images/v001/ao/ao.0010.exr

images/v001/ao/ao.0011.exr

images/v001/ao/ao.0012.exr

images/v001/ao/ao.0013.exr

images/v001/ao/ao.0014.exr

images/v001/ao/ao.0015.exr

images/v001/ao/ao.0016.exr

images/v001/ao/ao.0017.exr

images/v001/ao/ao.0018.exr

images/v001/ao/ao.0019.exr

images/v001/ao/ao.0020.exr

images/v001/ao/ao.0021.exr

images/v001/ao/ao.0022.exr

images/v001/ao/ao.0023.exr

images/v001/ao/ao.0024.exr

images/v001/ao/ao.0025.exr

images/v001/ao/ao.0026.exr

images/v001/ao/ao.0027.exr

images/v001/ao/ao.0028.exr

images/v001/ao/ao.0029.exr

images/v001/ao/ao.0030.exr

images/v001/ao/ao.0031.exr

images/v001/ao/ao.0032.exr

images/v001/ao/ao.0033.exr

images/v001/ao/ao.0034.exr

images/v001/ao/ao.0035.exr

images/v001/ao/ao.0036.exr

images/v001/ao/ao.0037.exr

images/v001/ao/ao.0038.exr

images/v001/ao/ao.0039.exr

images/v001/ao/ao.0040.exr

images/v001/ao/ao.0041.exr

images/v001/ao/ao.0042.exr

images/v001/ao/ao.0043.exr

images/v001/ao/ao.0044.exr

images/v001/ao/ao.0045.exr

images/v001/ao/ao.0046.exr

images/v001/ao/ao.0047.exr

images/v001/ao/ao.0048.exr

images/v001/ao/ao.0049.exr

images/v001/ao/ao.0050.exr

images/v001/ao/ao.0051.exr

images/v001/ao/ao.0052.exr

images/v001/ao/ao.0053.exr

images/v001/ao/ao.0054.exr

images/v001/ao/ao.0055.exr

images/v001/ao/ao.0056.exr

images/v001/ao/ao.0057.exr

images/v001/ao/ao.0058.exr

images/v001/ao/ao.0059.exr

images/v001/ao/ao.0060.exr

images/v001/ao/ao.0061.exr

images/v001/ao/ao.0062.exr

images/v001/ao/ao.0063.exr

images/v001/ao/ao.0064.exr

images/v001/ao/ao.0065.exr

images/v001/ao/ao.0066.exr

images/v001/ao/ao.0067.exr

images/v001/ao/ao.0068.exr

images/v001/ao/ao.0069.exr

images/v001/ao/ao.0070.exr

images/v001/ao/ao.0071.exr

images/v001/beauty/beauty.0001.exr

images/v001/beauty/beauty.0002.exr

images/v001/beauty/beauty.0003.exr

images/v001/beauty/beauty.0004.exr

images/v001/beauty/beauty.0005.exr

images/v001/beauty/beauty.0006.exr

images/v001/beauty/beauty.0007.exr

images/v001/beauty/beauty.0008.exr

images/v001/beauty/beauty.0009.exr

images/v001/beauty/beauty.0010.exr

images/v001/beauty/beauty.0011.exr

images/v001/beauty/beauty.0012.exr

images/v001/beauty/beauty.0013.exr

images/v001/beauty/beauty.0014.exr

images/v001/beauty/beauty.0015.exr

images/v001/beauty/beauty.0016.exr

images/v001/beauty/beauty.0017.exr

images/v001/beauty/beauty.0018.exr

images/v001/beauty/beauty.0019.exr

images/v001/beauty/beauty.0020.exr

images/v001/beauty/beauty.0021.exr

images/v001/beauty/beauty.0022.exr

images/v001/beauty/beauty.0023.exr

images/v001/beauty/beauty.0024.exr

images/v001/beauty/beauty.0025.exr

images/v001/beauty/beauty.0026.exr

images/v001/beauty/beauty.0027.exr

images/v001/beauty/beauty.0028.exr

images/v001/beauty/beauty.0029.exr

images/v001/beauty/beauty.0030.exr

images/v001/beauty/beauty.0031.exr

images/v001/beauty/beauty.0032.exr

images/v001/beauty/beauty.0033.exr

images/v001/beauty/beauty.0034.exr

images/v001/beauty/beauty.0035.exr

images/v001/beauty/beauty.0036.exr

images/v001/beauty/beauty.0037.exr

images/v001/beauty/beauty.0038.exr

images/v001/beauty/beauty.0039.exr

images/v001/beauty/beauty.0040.exr

images/v001/beauty/beauty.0041.exr

images/v001/beauty/beauty.0042.exr

images/v001/beauty/beauty.0043.exr

images/v001/beauty/beauty.0044.exr

images/v001/beauty/beauty.0045.exr

images/v001/beauty/beauty.0046.exr

images/v001/beauty/beauty.0047.exr

images/v001/beauty/beauty.0048.exr

images/v001/beauty/beauty.0049.exr

images/v001/beauty/beauty.0050.exr

images/v001/beauty/beauty.0051.exr

images/v001/beauty/beauty.0052.exr

images/v001/beauty/beauty.0053.exr

images/v001/beauty/beauty.0054.exr

images/v001/beauty/beauty.0055.exr

images/v001/beauty/beauty.0056.exr

images/v001/beauty/beauty.0057.exr

images/v001/beauty/beauty.0058.exr

images/v001/beauty/beauty.0059.exr

images/v001/beauty/beauty.0060.exr

images/v001/beauty/beauty.0061.exr

images/v001/beauty/beauty.0062.exr

images/v001/beauty/beauty.0063.exr

images/v001/beauty/beauty.0064.exr

images/v001/beauty/beauty.0065.exr

images/v001/beauty/beauty.0066.exr

images/v001/beauty/beauty.0067.exr

images/v001/beauty/beauty.0068.exr

images/v001/beauty/beauty.0069.exr

images/v001/beauty/beauty.0070.exr

images/v001/beauty/beauty.0071.exr

images/v001/diffuse/diffuse.0001.exr

images/v001/diffuse/diffuse.0002.exr

images/v001/diffuse/diffuse.0003.exr

images/v001/diffuse/diffuse.0004.exr

images/v001/diffuse/diffuse.0005.exr

images/v001/diffuse/diffuse.0006.exr

images/v001/diffuse/diffuse.0007.exr

images/v001/diffuse/diffuse.0008.exr

images/v001/diffuse/diffuse.0009.exr

images/v001/diffuse/diffuse.0010.exr

images/v001/diffuse/diffuse.0011.exr

images/v001/diffuse/diffuse.0012.exr

images/v001/diffuse/diffuse.0013.exr

images/v001/diffuse/diffuse.0014.exr

images/v001/diffuse/diffuse.0015.exr

images/v001/diffuse/diffuse.0016.exr

images/v001/diffuse/diffuse.0017.exr

images/v001/diffuse/diffuse.0018.exr

images/v001/diffuse/diffuse.0019.exr

images/v001/diffuse/diffuse.0020.exr

images/v001/diffuse/diffuse.0021.exr

images/v001/diffuse/diffuse.0022.exr

images/v001/diffuse/diffuse.0023.exr

images/v001/diffuse/diffuse.0024.exr

images/v001/diffuse/diffuse.0025.exr

images/v001/diffuse/diffuse.0026.exr

images/v001/diffuse/diffuse.0027.exr

images/v001/diffuse/diffuse.0028.exr

images/v001/diffuse/diffuse.0029.exr

images/v001/diffuse/diffuse.0030.exr

images/v001/diffuse/diffuse.0031.exr

images/v001/diffuse/diffuse.0032.exr

images/v001/diffuse/diffuse.0033.exr

images/v001/diffuse/diffuse.0034.exr

images/v001/diffuse/diffuse.0035.exr

images/v001/diffuse/diffuse.0036.exr

images/v001/diffuse/diffuse.0037.exr

images/v001/diffuse/diffuse.0038.exr

images/v001/diffuse/diffuse.0039.exr

images/v001/diffuse/diffuse.0040.exr

images/v001/diffuse/diffuse.0041.exr

images/v001/diffuse/diffuse.0042.exr

images/v001/diffuse/diffuse.0043.exr

images/v001/diffuse/diffuse.0044.exr

images/v001/diffuse/diffuse.0045.exr

images/v001/diffuse/diffuse.0046.exr

images/v001/diffuse/diffuse.0047.exr

images/v001/diffuse/diffuse.0048.exr

images/v001/diffuse/diffuse.0049.exr

images/v001/diffuse/diffuse.0050.exr

images/v001/diffuse/diffuse.0051.exr

images/v001/diffuse/diffuse.0052.exr

images/v001/diffuse/diffuse.0053.exr

images/v001/diffuse/diffuse.0054.exr

images/v001/diffuse/diffuse.0055.exr

images/v001/diffuse/diffuse.0056.exr

images/v001/diffuse/diffuse.0057.exr

images/v001/diffuse/diffuse.0058.exr

images/v001/diffuse/diffuse.0059.exr

images/v001/diffuse/diffuse.0060.exr

images/v001/diffuse/diffuse.0061.exr

images/v001/diffuse/diffuse.0062.exr

images/v001/diffuse/diffuse.0063.exr

images/v001/diffuse/diffuse.0064.exr

images/v001/diffuse/diffuse.0065.exr

images/v001/diffuse/diffuse.0066.exr

images/v001/diffuse/diffuse.0067.exr

images/v001/diffuse/diffuse.0068.exr

images/v001/diffuse/diffuse.0069.exr

images/v001/diffuse/diffuse.0070.exr

images/v001/diffuse/diffuse.0071.exr

images/v001/shadow/shadow.0001.exr

images/v001/shadow/shadow.0002.exr

images/v001/shadow/shadow.0003.exr

images/v001/shadow/shadow.0004.exr

images/v001/shadow/shadow.0005.exr

images/v001/shadow/shadow.0006.exr

images/v001/shadow/shadow.0007.exr

images/v001/shadow/shadow.0008.exr

images/v001/shadow/shadow.0009.exr

images/v001/shadow/shadow.0010.exr

images/v001/shadow/shadow.0011.exr

images/v001/shadow/shadow.0012.exr

images/v001/shadow/shadow.0013.exr

images/v001/shadow/shadow.0014.exr

images/v001/shadow/shadow.0015.exr

images/v001/shadow/shadow.0016.exr

images/v001/shadow/shadow.0017.exr

images/v001/shadow/shadow.0018.exr

images/v001/shadow/shadow.0019.exr

images/v001/shadow/shadow.0020.exr

images/v001/shadow/shadow.0021.exr

images/v001/shadow/shadow.0022.exr

images/v001/shadow/shadow.0023.exr

images/v001/shadow/shadow.0024.exr

images/v001/shadow/shadow.0025.exr

images/v001/shadow/shadow.0026.exr

images/v001/shadow/shadow.0027.exr

images/v001/shadow/shadow.0028.exr

images/v001/shadow/shadow.0029.exr

images/v001/shadow/shadow.0030.exr

images/v001/shadow/shadow.0031.exr

images/v001/shadow/shadow.0032.exr

images/v001/shadow/shadow.0033.exr

images/v001/shadow/shadow.0034.exr

images/v001/shadow/shadow.0035.exr

images/v001/shadow/shadow.0036.exr

images/v001/shadow/shadow.0037.exr

images/v001/shadow/shadow.0038.exr

images/v001/shadow/shadow.0039.exr

images/v001/shadow/shadow.0040.exr

images/v001/shadow/shadow.0041.exr

images/v001/shadow/shadow.0042.exr

images/v001/shadow/shadow.0043.exr

images/v001/shadow/shadow.0044.exr

images/v001/shadow/shadow.0045.exr

images/v001/shadow/shadow.0046.exr

images/v001/shadow/shadow.0047.exr

images/v001/shadow/shadow.0048.exr

images/v001/shadow/shadow.0049.exr

images/v001/shadow/shadow.0050.exr

images/v001/shadow/shadow.0051.exr

images/v001/shadow/shadow.0052.exr

images/v001/shadow/shadow.0053.exr

images/v001/shadow/shadow.0054.exr

images/v001/shadow/shadow.0055.exr

images/v001/shadow/shadow.0056.exr

images/v001/shadow/shadow.0057.exr

images/v001/shadow/shadow.0058.exr

images/v001/shadow/shadow.0059.exr

images/v001/shadow/shadow.0060.exr

images/v001/shadow/shadow.0061.exr

images/v001/shadow/shadow.0062.exr

images/v001/shadow/shadow.0063.exr

images/v001/shadow/shadow.0064.exr

images/v001/shadow/shadow.0065.exr

images/v001/shadow/shadow.0066.exr

images/v001/shadow/shadow.0067.exr

images/v001/shadow/shadow.0068.exr

images/v001/shadow/shadow.0069.exr

images/v001/shadow/shadow.0070.exr

images/v001/shadow/shadow.0071.exr

images/v001/specular/specular.0001.exr

images/v001/specular/specular.0002.exr

images/v001/specular/specular.0003.exr

images/v001/specular/specular.0004.exr

images/v001/specular/specular.0005.exr

images/v001/specular/specular.0006.exr

images/v001/specular/specular.0007.exr

images/v001/specular/specular.0008.exr

images/v001/specular/specular.0009.exr

images/v001/specular/specular.0010.exr

images/v001/specular/specular.0011.exr

images/v001/specular/specular.0012.exr

images/v001/specular/specular.0013.exr

images/v001/specular/specular.0014.exr

images/v001/specular/specular.0015.exr

images/v001/specular/specular.0016.exr

images/v001/specular/specular.0017.exr

images/v001/specular/specular.0018.exr

images/v001/specular/specular.0019.exr

images/v001/specular/specular.0020.exr

images/v001/specular/specular.0021.exr

images/v001/specular/specular.0022.exr

images/v001/specular/specular.0023.exr

images/v001/specular/specular.0024.exr

images/v001/specular/specular.0025.exr

images/v001/specular/specular.0026.exr

images/v001/specular/specular.0027.exr

images/v001/specular/specular.0028.exr

images/v001/specular/specular.0029.exr

images/v001/specular/specular.0030.exr

images/v001/specular/specular.0031.exr

images/v001/specular/specular.0032.exr

images/v001/specular/specular.0033.exr

images/v001/specular/specular.0034.exr

images/v001/specular/specular.0035.exr

images/v001/specular/specular.0036.exr

images/v001/specular/specular.0037.exr

images/v001/specular/specular.0038.exr

images/v001/specular/specular.0039.exr

images/v001/specular/specular.0040.exr

images/v001/specular/specular.0041.exr

images/v001/specular/specular.0042.exr

images/v001/specular/specular.0043.exr

images/v001/specular/specular.0044.exr

images/v001/specular/specular.0045.exr

images/v001/specular/specular.0046.exr

images/v001/specular/specular.0047.exr

images/v001/specular/specular.0048.exr

images/v001/specular/specular.0049.exr

images/v001/specular/specular.0050.exr

images/v001/specular/specular.0051.exr

images/v001/specular/specular.0052.exr

images/v001/specular/specular.0053.exr

images/v001/specular/specular.0054.exr

images/v001/specular/specular.0055.exr

images/v001/specular/specular.0056.exr

images/v001/specular/specular.0057.exr

images/v001/specular/specular.0058.exr

images/v001/specular/specular.0059.exr

images/v001/specular/specular.0060.exr

images/v001/specular/specular.0061.exr

images/v001/specular/specular.0062.exr

images/v001/specular/specular.0063.exr

images/v001/specular/specular.0064.exr

images/v001/specular/specular.0065.exr

images/v001/specular/specular.0066.exr

images/v001/specular/specular.0067.exr

images/v001/specular/specular.0068.exr

images/v001/specular/specular.0069.exr

images/v001/specular/specular.0070.exr

images/v001/specular/specular.0071.exr

images/v001/Z/Z.0001.exr

images/v001/Z/Z.0002.exr

images/v001/Z/Z.0003.exr

images/v001/Z/Z.0004.exr

images/v001/Z/Z.0005.exr

images/v001/Z/Z.0006.exr

images/v001/Z/Z.0007.exr

images/v001/Z/Z.0008.exr

images/v001/Z/Z.0009.exr

images/v001/Z/Z.0010.exr

images/v001/Z/Z.0011.exr

images/v001/Z/Z.0012.exr

images/v001/Z/Z.0013.exr

images/v001/Z/Z.0014.exr

images/v001/Z/Z.0015.exr

images/v001/Z/Z.0016.exr

images/v001/Z/Z.0017.exr

images/v001/Z/Z.0018.exr

images/v001/Z/Z.0019.exr

images/v001/Z/Z.0020.exr

images/v001/Z/Z.0021.exr

images/v001/Z/Z.0022.exr

images/v001/Z/Z.0023.exr

images/v001/Z/Z.0024.exr

images/v001/Z/Z.0025.exr

images/v001/Z/Z.0026.exr

images/v001/Z/Z.0027.exr

images/v001/Z/Z.0028.exr

images/v001/Z/Z.0029.exr

images/v001/Z/Z.0030.exr

images/v001/Z/Z.0031.exr

images/v001/Z/Z.0032.exr

images/v001/Z/Z.0033.exr

images/v001/Z/Z.0034.exr

images/v001/Z/Z.0035.exr

images/v001/Z/Z.0036.exr

images/v001/Z/Z.0037.exr

images/v001/Z/Z.0038.exr

images/v001/Z/Z.0039.exr

images/v001/Z/Z.0040.exr

images/v001/Z/Z.0041.exr

images/v001/Z/Z.0042.exr

images/v001/Z/Z.0043.exr

images/v001/Z/Z.0044.exr

images/v001/Z/Z.0045.exr

images/v001/Z/Z.0046.exr

images/v001/Z/Z.0047.exr

images/v001/Z/Z.0048.exr

images/v001/Z/Z.0049.exr

images/v001/Z/Z.0050.exr

images/v001/Z/Z.0051.exr

images/v001/Z/Z.0052.exr

images/v001/Z/Z.0053.exr

images/v001/Z/Z.0054.exr

images/v001/Z/Z.0055.exr

images/v001/Z/Z.0056.exr

images/v001/Z/Z.0057.exr

images/v001/Z/Z.0058.exr

images/v001/Z/Z.0059.exr

images/v001/Z/Z.0060.exr

images/v001/Z/Z.0061.exr

images/v001/Z/Z.0062.exr

images/v001/Z/Z.0063.exr

images/v001/Z/Z.0064.exr

images/v001/Z/Z.0065.exr

images/v001/Z/Z.0066.exr

images/v001/Z/Z.0067.exr

images/v001/Z/Z.0068.exr

images/v001/Z/Z.0069.exr

images/v001/Z/Z.0070.exr

images/v001/Z/Z.0071.exr

mug.mtl

mug.obj

mug/.mayaSwatches/mug_Base_color.png_hcm.swatch

mug/.mayaSwatches/mug_Metallic.png_hcm.swatch

mug/.mayaSwatches/mug_Normal.png_hcm.swatch

mug/.mayaSwatches/mug_Roughness.png_hcm.swatch

mug/.mayaSwatches/pen1_Base_color.png_hcm.swatch

mug/.mayaSwatches/pen1_Metallic.png_hcm.swatch

mug/.mayaSwatches/pen1_Normal.png_hcm.swatch

mug/.mayaSwatches/pen1_Roughness.png_hcm.swatch

mug/.mayaSwatches/pen1top_Base_color.png_hcm.swatch

mug/.mayaSwatches/pen1top_Metallic.png_hcm.swatch

mug/.mayaSwatches/pen1top_Normal.png_hcm.swatch

mug/.mayaSwatches/pen1top_Roughness.png_hcm.swatch

mug/.mayaSwatches/pen2_Base_color.png_hcm.swatch

mug/.mayaSwatches/pen2_Normal.png_hcm.swatch

mug/.mayaSwatches/pen2_Roughness.png_hcm.swatch

mug/.mayaSwatches/pen2top_Base_color.png_hcm.swatch

mug/.mayaSwatches/pen2top_Metallic.png_hcm.swatch

mug/.mayaSwatches/pen2top_Normal.png_hcm.swatch

mug/.mayaSwatches/pen2top_Roughness.png_hcm.swatch

mug/mug_Base_color_sRGB_ACEScg.png.tx

mug/mug_Base_color.png

mug/mug_Height.png

mug/mug_Metallic_Raw_ACEScg.png.tx

mug/mug_Metallic.png

mug/mug_Normal_DirectX.png

mug/mug_Normal_Raw_ACEScg.png.tx

mug/mug_Normal.png

mug/mug_Roughness_Raw_ACEScg.png.tx

mug/mug_Roughness.png

mug/pen1_Base_color_sRGB_ACEScg.png.tx

mug/pen1_Base_color.png

mug/pen1_Height.png

mug/pen1_Metallic_Raw_ACEScg.png.tx

mug/pen1_Metallic.png

mug/pen1_Normal_DirectX.png

mug/pen1_Normal_Raw_ACEScg.png.tx

mug/pen1_Normal.png

mug/pen1_Roughness_Raw_ACEScg.png.tx

mug/pen1_Roughness.png

mug/pen1top_Base_color_sRGB_ACEScg.png.tx

mug/pen1top_Base_color.png

mug/pen1top_Height.png

mug/pen1top_Metallic_Raw_ACEScg.png.tx

mug/pen1top_Metallic.png

mug/pen1top_Normal_DirectX.png

mug/pen1top_Normal_Raw_ACEScg.png.tx

mug/pen1top_Normal.png

mug/pen1top_Roughness_Raw_ACEScg.png.tx

mug/pen1top_Roughness.png

mug/pen2_Base_color_sRGB_ACEScg.png.tx

mug/pen2_Base_color.png

mug/pen2_Height.png

mug/pen2_Metallic.png

mug/pen2_Normal_DirectX.png

mug/pen2_Normal_Raw_ACEScg.png.tx

mug/pen2_Normal.png

mug/pen2_Roughness_Raw_ACEScg.png.tx

mug/pen2_Roughness.png

mug/pen2top_Base_color_sRGB_ACEScg.png.tx

mug/pen2top_Base_color.png

mug/pen2top_Height.png

mug/pen2top_Metallic_Raw_ACEScg.png.tx

mug/pen2top_Metallic.png

mug/pen2top_Normal_DirectX.png

mug/pen2top_Normal_Raw_ACEScg.png.tx

mug/pen2top_Normal.png

mug/pen2top_Roughness_Raw_ACEScg.png.tx

mug/pen2top_Roughness.png

shelf/.mayaSwatches/shelftexture_shelf_BaseColor.png_hcm.swatch

shelf/.mayaSwatches/shelftexture_shelf_Metallic.png_hcm.swatch

shelf/.mayaSwatches/shelftexture_shelf_Normal.png_hcm.swatch

shelf/.mayaSwatches/shelftexture_shelf_Roughness.png_hcm.swatch

shelf/shelftexture_shelf_BaseColor_sRGB_ACEScg.png.tx

shelf/shelftexture_shelf_BaseColor.png

shelf/shelftexture_shelf_Height.png

shelf/shelftexture_shelf_Metallic_Raw_ACEScg.png.tx

shelf/shelftexture_shelf_Metallic.png

shelf/shelftexture_shelf_Normal_Raw_ACEScg.png.tx

shelf/shelftexture_shelf_Normal.png

shelf/shelftexture_shelf_Roughness_Raw_ACEScg.png.tx

shelf/shelftexture_shelf_Roughness.png

table/.mayaSwatches/tablefourlegs_lambert2SG_BaseColor.png_hcm.swatch

table/.mayaSwatches/tablefourlegs_lambert2SG_Metallic.png_hcm.swatch

table/.mayaSwatches/tablefourlegs_lambert2SG_Normal.png_hcm.swatch

table/.mayaSwatches/tablefourlegs_lambert2SG_Roughness.png_hcm.swatch

table/tablefourlegs_blinn1SG_BaseColor.png

table/tablefourlegs_blinn1SG_Height.png

table/tablefourlegs_blinn1SG_Metallic.png

table/tablefourlegs_blinn1SG_Normal.png

table/tablefourlegs_blinn1SG_Roughness.png

table/tablefourlegs_lambert2SG_BaseColor_sRGB_ACEScg.png.tx

table/tablefourlegs_lambert2SG_BaseColor.png

table/tablefourlegs_lambert2SG_Height.png

table/tablefourlegs_lambert2SG_Metallic_Raw_ACEScg.png.tx

table/tablefourlegs_lambert2SG_Metallic.png

table/tablefourlegs_lambert2SG_Normal.png
