
BoolStart.0001.ma

chair.ma

door.ma

goldfish.zpr

hammer.ma

tools.ma

tools.mb

workspace.mel

fishbowl.mtl

fishdecor.mtl

fishdecor.obj

fishfish.obj

fishfish.zpr

fishprops.mtl

lamp/.mayaSwatches/lamptexture_lampshadebase_BaseColor.png_hcm.swatch

lamp/.mayaSwatches/lamptexture_lampshadebase_Metallic.png_hcm.swatch

lamp/.mayaSwatches/lamptexture_lampshadebase_Normal.png_hcm.swatch

lamp/.mayaSwatches/lamptexture_lampshadebase_Roughness.png_hcm.swatch

lamp/.mayaSwatches/lamptexture_lightbulb_BaseColor.png_hcm.swatch

lamp/.mayaSwatches/lamptexture_lightbulb_Metallic.png_hcm.swatch

lamp/.mayaSwatches/lamptexture_lightbulb_Normal.png_hcm.swatch

lamp/.mayaSwatches/lamptexture_lightbulb_Roughness.png_hcm.swatch

lamp/.mayaSwatches/lamptexture_tube_BaseColor.png_hcm.swatch

lamp/.mayaSwatches/lamptexture_tube_Metallic.png_hcm.swatch

lamp/.mayaSwatches/lamptexture_tube_Roughness.png_hcm.swatch

lamp/lamptexture_lampshadebase_BaseColor_sRGB_ACEScg.png.tx

lamp/lamptexture_lampshadebase_BaseColor.png

lamp/lamptexture_lampshadebase_Height.png

lamp/lamptexture_lampshadebase_Metallic_Raw_ACEScg.png.tx

lamp/lamptexture_lampshadebase_Metallic.png

lamp/lamptexture_lampshadebase_Normal_Raw_ACEScg.png.tx

lamp/lamptexture_lampshadebase_Normal.png

lamp/lamptexture_lampshadebase_Roughness_Raw_ACEScg.png.tx

lamp/lamptexture_lampshadebase_Roughness.png

lamp/lamptexture_lightbulb_BaseColor_sRGB_ACEScg.png.tx

lamp/lamptexture_lightbulb_BaseColor.png

lamp/lamptexture_lightbulb_Height.png

lamp/lamptexture_lightbulb_Metallic_Raw_ACEScg.png.tx

lamp/lamptexture_lightbulb_Metallic.png

lamp/lamptexture_lightbulb_Normal_Raw_ACEScg.png.tx

lamp/lamptexture_lightbulb_Normal.png

lamp/lamptexture_lightbulb_Roughness_Raw_ACEScg.png.tx

lamp/lamptexture_lightbulb_Roughness.png

lamp/lamptexture_tube_BaseColor_sRGB_ACEScg.png.tx

lamp/lamptexture_tube_BaseColor.png

lamp/lamptexture_tube_Height.png

lamp/lamptexture_tube_Metallic_Raw_ACEScg.png.tx

lamp/lamptexture_tube_Metallic.png

lamp/lamptexture_tube_Normal.png

lamp/lamptexture_tube_Roughness_Raw_ACEScg.png.tx

lamp/lamptexture_tube_Roughness.png

sandcastle.mtl

sandcastle.obj

Starship_UV.mb

Starship.mtl

Starship.obj
