
BoolStart.0001.ma

chair.ma

door.ma

goldfish.zpr

hammer.ma

tools.ma

tools.mb

workspace.mel

fishbowl.mtl

fishdecor.mtl

fishdecor.obj

fishfish.obj

fishfish.zpr

fishprops.mtl

lamp/.mayaSwatches/lamptexture_lampshadebase_BaseColor.png_hcm.swatch

lamp/.mayaSwatches/lamptexture_lampshadebase_Metallic.png_hcm.swatch

lamp/.mayaSwatches/lamptexture_lampshadebase_Normal.png_hcm.swatch

lamp/.mayaSwatches/lamptexture_lampshadebase_Roughness.png_hcm.swatch

lamp/.mayaSwatches/lamptexture_lightbulb_BaseColor.png_hcm.swatch

lamp/.mayaSwatches/lamptexture_lightbulb_Metallic.png_hcm.swatch

lamp/.mayaSwatches/lamptexture_lightbulb_Normal.png_hcm.swatch

lamp/.mayaSwatches/lamptexture_lightbulb_Roughness.png_hcm.swatch

lamp/.mayaSwatches/lamptexture_tube_BaseColor.png_hcm.swatch

lamp/.mayaSwatches/lamptexture_tube_Metallic.png_hcm.swatch

lamp/.mayaSwatches/lamptexture_tube_Roughness.png_hcm.swatch

lamp/lamptexture_lampshadebase_BaseColor_sRGB_ACEScg.png.tx

lamp/lamptexture_lampshadebase_BaseColor.png

lamp/lamptexture_lampshadebase_Height.png

lamp/lamptexture_lampshadebase_Metallic_Raw_ACEScg.png.tx

lamp/lamptexture_lampshadebase_Metallic.png

lamp/lamptexture_lampshadebase_Normal_Raw_ACEScg.png.tx

lamp/lamptexture_lampshadebase_Normal.png

lamp/lamptexture_lampshadebase_Roughness_Raw_ACEScg.png.tx

lamp/lamptexture_lampshadebase_Roughness.png

lamp/lamptexture_lightbulb_BaseColor_sRGB_ACEScg.png.tx

lamp/lamptexture_lightbulb_BaseColor.png

lamp/lamptexture_lightbulb_Height.png

lamp/lamptexture_lightbulb_Metallic_Raw_ACEScg.png.tx

lamp/lamptexture_lightbulb_Metallic.png

lamp/lamptexture_lightbulb_Normal_Raw_ACEScg.png.tx

lamp/lamptexture_lightbulb_Normal.png

lamp/lamptexture_lightbulb_Roughness_Raw_ACEScg.png.tx

lamp/lamptexture_lightbulb_Roughness.png

lamp/lamptexture_tube_BaseColor_sRGB_ACEScg.png.tx

lamp/lamptexture_tube_BaseColor.png

lamp/lamptexture_tube_Height.png

lamp/lamptexture_tube_Metallic_Raw_ACEScg.png.tx

lamp/lamptexture_tube_Metallic.png

lamp/lamptexture_tube_Normal.png

lamp/lamptexture_tube_Roughness_Raw_ACEScg.png.tx

lamp/lamptexture_tube_Roughness.png

sandcastle.mtl

sandcastle.obj

Starship_UV.mb

Starship.mtl

Starship.obj

cactus/.mayaSwatches/cactusuv_cactus_BaseColor.png_hcm.swatch

cactus/.mayaSwatches/cactusuv_cactus_Metallic.png_hcm.swatch

cactus/.mayaSwatches/cactusuv_cactus_Normal.png_hcm.swatch

cactus/.mayaSwatches/cactusuv_cactus_Roughness.png_hcm.swatch

cactus/.mayaSwatches/cactusuv_vase_BaseColor.png_hcm.swatch

cactus/.mayaSwatches/cactusuv_vase_Metallic.png_hcm.swatch

cactus/.mayaSwatches/cactusuv_vase_Normal.png_hcm.swatch

cactus/.mayaSwatches/cactusuv_vase_Roughness.png_hcm.swatch

cactus/cactusuv_cactus_BaseColor_sRGB_ACEScg.png.tx

cactus/cactusuv_cactus_BaseColor.png

cactus/cactusuv_cactus_Height.png

cactus/cactusuv_cactus_Metallic_Raw_ACEScg.png.tx

cactus/cactusuv_cactus_Metallic.png

cactus/cactusuv_cactus_Normal_Raw_ACEScg.png.tx

cactus/cactusuv_cactus_Normal.png

cactus/cactusuv_cactus_Roughness_Raw_ACEScg.png.tx

cactus/cactusuv_cactus_Roughness.png

cactus/cactusuv_vase_BaseColor_sRGB_ACEScg.png.tx

cactus/cactusuv_vase_BaseColor.png

cactus/cactusuv_vase_Height.png

cactus/cactusuv_vase_Metallic_Raw_ACEScg.png.tx

cactus/cactusuv_vase_Metallic.png

cactus/cactusuv_vase_Normal_Raw_ACEScg.png.tx

cactus/cactusuv_vase_Normal.png

cactus/cactusuv_vase_Roughness_Raw_ACEScg.png.tx

cactus/cactusuv_vase_Roughness.png

cactuslit.mtl

cactuslit.obj

cactusuv.mtl

cactusuv.obj

chair.mtl

chair.obj

hammer.mtl

hammer.obj

hammer/.mayaSwatches/hammer_hammerhandle_BaseColor.png_hcm.swatch

hammer/.mayaSwatches/hammer_hammerhandle_Metallic.png_hcm.swatch

hammer/.mayaSwatches/hammer_hammerhandle_Normal.png_hcm.swatch

hammer/.mayaSwatches/hammer_hammerhandle_Roughness.png_hcm.swatch

hammer/.mayaSwatches/hammer_hammerstick_BaseColor.png_hcm.swatch

hammer/.mayaSwatches/hammer_hammerstick_Metallic.png_hcm.swatch

hammer/.mayaSwatches/hammer_hammerstick_Normal.png_hcm.swatch

hammer/.mayaSwatches/hammer_hammerstick_Roughness.png_hcm.swatch

hammer/.mayaSwatches/hammer_hammertop_BaseColor.png_hcm.swatch

hammer/.mayaSwatches/hammer_hammertop_Metallic.png_hcm.swatch

hammer/.mayaSwatches/hammer_hammertop_Normal.png_hcm.swatch

hammer/.mayaSwatches/hammer_hammertop_Roughness.png_hcm.swatch

hammer/hammer_hammerhandle_BaseColor_sRGB_ACEScg.png.tx

hammer/hammer_hammerhandle_BaseColor.png

hammer/hammer_hammerhandle_Height.png

hammer/hammer_hammerhandle_Metallic_Raw_ACEScg.png.tx

hammer/hammer_hammerhandle_Metallic.png

hammer/hammer_hammerhandle_Normal_Raw_ACEScg.png.tx

hammer/hammer_hammerhandle_Normal.png

hammer/hammer_hammerhandle_Roughness_Raw_ACEScg.png.tx

hammer/hammer_hammerhandle_Roughness.png

hammer/hammer_hammerstick_BaseColor_sRGB_ACEScg.png.tx

hammer/hammer_hammerstick_BaseColor.png

hammer/hammer_hammerstick_Height.png

hammer/hammer_hammerstick_Metallic_Raw_ACEScg.png.tx

hammer/hammer_hammerstick_Metallic.png

hammer/hammer_hammerstick_Normal_Raw_ACEScg.png.tx

hammer/hammer_hammerstick_Normal.png

hammer/hammer_hammerstick_Roughness_Raw_ACEScg.png.tx

hammer/hammer_hammerstick_Roughness.png

hammer/hammer_hammertop_BaseColor_sRGB_ACEScg.png.tx

hammer/hammer_hammertop_BaseColor.png

hammer/hammer_hammertop_Height.png

hammer/hammer_hammertop_Metallic_Raw_ACEScg.png.tx

hammer/hammer_hammertop_Metallic.png

hammer/hammer_hammertop_Normal_Raw_ACEScg.png.tx

hammer/hammer_hammertop_Normal.png

hammer/hammer_hammertop_Roughness_Raw_ACEScg.png.tx

hammer/hammer_hammertop_Roughness.png
